body {
    background-image: linear-gradient(to right, #ffc83d, #ff9b3d);
}

.card {
    border-radius   : 5px;
    box-shadow      : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    transition      : 0.3s;
    margin          : 1rem;
    height          : 150px;
    display         : flex;
    place-content   : center space-between;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.container-image>div {
    padding: 1rem;
}

.image {
    border-radius: 5px;
    margin-left  : -30px;
    box-shadow   : 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    object-fit   : contain;
    height       : -webkit-fill-available;
}